if jquery 
	script(src=`${Url}assets/js/jquery.min.js`)

if bootstrap 
	script(src=`${Url}assets/js/bootstrap.min.js`)

if masonry 
	script(src=`${Url}assets/js/masonry.pkgd.min.js`)

if infinity_scroll 
	script(src=`${Url}assets/js/infinite-scroll.pkgd.js`)

if swiper 
	script(src=`${Url}assets/js/swiper.js`)

if greensock 
	script(src=`${Url}assets/js/greensock.js`)

if vanilla 
	script(src=`${Url}assets/js/vanilla.js`)
if fancybox 
	script(src=`${Url}assets/js/fancybox.js`)

if tweenlite 
	script(src=`${Url}assets/js/tweenlite.js`)

if scrollTrigger 
	script(src=`${Url}assets/js/scrollTrigger.js`)

if locomotive 
	script(src=`${Url}assets/js/locomotive-scroll.min.js`)

if moment 
	script(src=`${Url}assets/js/moment.min.js`)

if daterangepicker 
	script(src=`${Url}assets/js/daterangepicker.js`)

if smooth_scrollbar 
	script(src=`${Url}assets/js/smooth-scrollbar.js`)

if mainjs 
	script(src=`${Url}assets/js/main.js`)


